*{
    padding:0;
    margin : 0;
    /*outline: 1px solid #000;*/
}
.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgb(67, 191, 207);
    position: absolute;
}
.circle1{
    top: -50px;
    left: 30px;
}
.circle2{
    top: -40px;
    right: 30px;
}
.circle3{
    bottom :-40px;
    left: 0;
    right: 0;
    margin: auto;
}
.ellipse{
    width: 300px;
    height: 150px;
    border-radius: 75px;
    background: rgb(67, 191, 207);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}